<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Star Wars Movies App</a>
  </div>
</nav>
<br>
<br>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-12">

      <h1 class="my-4">Star Wars Movies App
      </h1>
      <div class="col-md-8" *ngIf="loading">
        <div class="text-center">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Movie selection</h5>
        <div class="card-body">
          <div class="input-group">
            <select class="form-control" #selectvalue (change)="selectChange()">
              <option *ngFor="let movie of moviesArray" [value]="movie.title">{{ movie.title }}</option>
            </select>&nbsp;&nbsp;&nbsp;
            <span class="input-group-btn">
                <button class="btn btn-info" type="button"
                        (click)="getMoviesDetails(selectvalue.value)">Search</button>
              </span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /.row -->

  <div class="row" *ngIf="networkAvailable==false">
    <p style="color:red;">Veuillez vérifier votre connexion internet !!!!</p>
  </div>
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 25px" *ngIf="this.showDetails">
      <app-movie-details-component [movieDetails]="movieDetail"></app-movie-details-component>
    </div>
  </div>

</div>
<!-- /.container -->



