<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Stars Wars Movies</div>
    </div>

    <div style="padding-top:30px" class="panel-body">
      <div style="margin-bottom: 25px" class="input-group">
        <select class="form-control" #selectvalue (change)="selectChange()">
          <option *ngFor="let movie of moviesArray" [value]="movie.title">{{ movie.title }}</option>
        </select>
      </div>
      <div style="margin-top:10px" class="form-group">
        <!-- Button -->
        <div class="col-sm-12 controls">
          <button type="button" (click)="getMoviesDetails(selectvalue.value)" class="btn btn-info">Valider</button>
        </div>
      </div>

      <div style="margin-bottom: 25px" class="input-group" *ngIf="this.showDetails">
        <app-movie-details-component [movieDetails]="movieDetail"></app-movie-details-component>
        <app-movie-characters-component [moviesCharactersDetails]="moviesCharacters"></app-movie-characters-component>
      </div>
    </div>
  </div>



